<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @entrant.place %>
</p>

<p>
  <strong>Secs:</strong>
  <%= @entrant.secs %>
</p>

<p>
  <strong>Name:</strong>
  <%= @entrant.name %>
</p>

<p>
  <strong>Bib:</strong>
  <%= @entrant.bib %>
</p>

<p>
  <strong>City:</strong>
  <%= @entrant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @entrant.state %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @entrant.gender %>
</p>

<p>
  <strong>Gender place:</strong>
  <%= @entrant.gender_place %>
</p>

<p>
  <strong>Group:</strong>
  <%= @entrant.group %>
</p>

<p>
  <strong>Group place:</strong>
  <%= @entrant.group_place %>
</p>

<p>
  <strong>Swim:</strong>
  <%= @entrant.swim %>
</p>

<p>
  <strong>Pace 1000:</strong>
  <%= @entrant.pace_1000 %>
</p>

<p>
  <strong>T1:</strong>
  <%= @entrant.t1 %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @entrant.bike %>
</p>

<p>
  <strong>Mph:</strong>
  <%= @entrant.mph %>
</p>

<p>
  <strong>T2:</strong>
  <%= @entrant.t2 %>
</p>

<p>
  <strong>Run:</strong>
  <%= @entrant.run %>
</p>

<p>
  <strong>Min mile:</strong>
  <%= @entrant.min_mile %>
</p>

<%= link_to 'Edit', edit_entrant_path(@entrant) %> |
<%= link_to 'Back', entrants_path %>
